/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TTLaundryGothicB', sans-serif;
    line-height: 1.6;
    background-color: #f5eeee;
    color: #8b8383;
}

li {
    list-style-type: none;
}

.profile-img {
    background-color: #282828;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #fff;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.profile-img h1 {
    font-size: 24px;
}

.profile-img h2 {
    font-size: 16px; /* 이메일 글씨 크기 줄임 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 아이콘과 이메일 사이 간격 */
}

.profile-img .fas.fa-envelope {
    font-size: 16px;
    color: #797777; /* 이메일 아이콘 색상 */
}

.profile-img .email {
    font-size: 14px; /* 이메일 글씨 크기 */
}

.profile-section {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    background-color: rgb(2, 2, 2);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
}

.toggle-label:hover {
    background-color: black;
}

.profile-info,
.profile-like,
.profile-video {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
}

.profile-info h1,
.profile-like h2,
.profile-video h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
}

.profile-info ul {
    padding: 0;
}

.profile-info li {
    font-size: 18px;
    text-align: left;
    background: url("images/list.jpg") no-repeat left center;
    background-size: 20px auto;
    padding-left: 30px;
    margin: 10px 0;
}

.profile-like h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: black;
}

.profile-like ul {
    display: flex;
    justify-content: center;
}

.profile-like li {
    margin: 0 20px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-like img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.profile-like span {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    color: #333;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    margin: 0 auto;
    max-width: 800px;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.toggle-checkbox:checked + .toggle-label + .profile-info,
.toggle-checkbox:checked + .toggle-label + .profile-like,
.toggle-checkbox:checked + .toggle-label + .profile-video {
    display: block;
}

.thank-you-message {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    color: #282828;
    font-weight: bold; /* 폰트 굵게 변경 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* 이미지와 텍스트 사이 간격 */
}

.thank-you-message img {
    width: 150px; /* 이미지 크기 조절 */
    height: 150px;
    object-fit: cover;
    border-radius: 100%; /* 원형으로 자르기 */
}

/* 추가된 메시지 */
.info-message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.info-message p {
    margin: 0;
    font-weight: bold;
    color: #282828;
}

.info-message i {
    font-size: 24px;
    color: #282828;
}
